<vex-secondary-toolbar current="Consulta de conceptos">
    <vex-breadcrumbs [crumbs]="['Consulta de conceptos']" class="flex-auto"></vex-breadcrumbs>
</vex-secondary-toolbar>

<div class="card block m-6" @fadeInUp fxLayout="column" fxLayout.gt-sm="row">
    <div class="p-6">
        <h2 class="title mt-0 mb-4">Conceptos</h2>
        <mat-form-field class="w-64 max-w-full">
            <mat-label>Seleccione un concepto</mat-label>
            <mat-select [formControl]="stateCtrl" (selectionChange)="selectConcept($event)">
                <mat-option *ngFor="let option of states" [value]="option.name">
                    <span class="body-1">{{ option.name }}</span>
                    <span class="text-hint"> | </span>
                    <span class="caption text-secondary">Tipo: {{ option.type }}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="border-l" fxFlex>
        <div class="p-6">
            <h2 class="title mt-0 mb-4">Información relacionada al concepto</h2>
            <h4 class="body-2 text-secondary m-0">Concepto</h4>
        </div>

        <mat-tab-group class="vex-tabs">
            <mat-tab label="MIEMBROS">
                <div class="p-6">
                    <mat-list class="card max-w-full overflow-hidden w-300">
                        <mat-list-item *ngFor="let m of members">
                            <h3 matLine>{{m.name}}</h3>
                            <p matLine>
                                <span>Type: </span>
                                <span class="text-secondary">{{m.type}}</span>
                            </p>
                            <p>{{m.value}}</p>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-tab>
            <mat-tab label="OBJECT PROPERTIES">
                <div class="p-6">
                    <mat-list class="card max-w-full overflow-hidden w-300">
                        <mat-list-item *ngFor="let o of objectsProperties">
                            <h3 matLine>{{this.splitText(o.property.value)}}</h3>
                            <p matLine>
                                <span>Rango: </span>
                                <span class="text-secondary">{{this.splitText(o.range.value)}}</span>
                            </p>
                            <p>{{o.property.value}}</p>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-tab>
            <mat-tab label="DATA PROPERTIES">
                <div class="p-6">
                    <mat-list class="card max-w-full overflow-hidden w-300">
                        <mat-list-item *ngFor="let o of dataProperties">
                            <h3 matLine>{{this.splitText(o.property.value)}}</h3>
                            <p matLine>
                                <span>Rango: </span>
                                <span class="text-secondary">{{this.splitText(o.range.value)}}</span>
                            </p>
                            <p>{{o.property.value}}</p>
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
